<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="${log.path:-logs}"/>
    <Property name="BACKUP_FOLDER" value="${LOG_HOME}/bak"/>
    <!-- 定义日志格式  -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %logger{30} %msg%n"/>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="infoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${BACKUP_FOLDER}/info.%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${BACKUP_FOLDER}/error.%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="messLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/mess.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${BACKUP_FOLDER}/mess.%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="datasourceLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/datasource.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${BACKUP_FOLDER}/datasource.%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="tmpLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/tmp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${BACKUP_FOLDER}/tmp.%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="nettyLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/netty.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${BACKUP_FOLDER}/netty.%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="reqLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/req.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${BACKUP_FOLDER}/req.%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="rspLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/rsp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${BACKUP_FOLDER}/rsp.%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="httpLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/http.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${BACKUP_FOLDER}/http.%d{yyyy-MM-dd}.gz</FileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 日志输出级别 -->
    <logger name="com.zaxxer.hikari" level="INFO" additivity="false">
        <appender-ref ref="datasourceLog"/>
    </logger>
    <logger name="reqLogger" level="INFO" additivity="false">
        <appender-ref ref="reqLog"/>
    </logger>
    <logger name="rspLogger" level="INFO" additivity="false">
        <appender-ref ref="rspLog"/>
    </logger>
    <logger name="httpLogger" level="INFO" additivity="false">
        <appender-ref ref="httpLog"/>
    </logger>
    <logger name="infoLogger" level="INFO" additivity="false">
        <appender-ref ref="infoLog"/>
    </logger>
    <logger name="errorLogger" level="INFO" additivity="false">
        <appender-ref ref="errorLog"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="messLogger" level="INFO" additivity="false">
        <appender-ref ref="messLog"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="tmpLogger" level="INFO" additivity="false">
        <appender-ref ref="tmpLog"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="messLog"/>
    </root>
</configuration>
